/* 
#home_main {
    background-color: #000;
    position: relative;
    width: 100%;
    height: 0;
    margin-bottom: 20px;
}
#main_section {
    display: flex;
    justify-content: center;
    width: 100%;
}
#navbar {
    width: 90%;
    height:35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 0;
    background-color: #FFFF;
    border-radius: 42px;
    padding: 11px 55px;
 }
#c_name {
    width: 200px;
    height: 100px;
    object-fit: cover;
    /* mix-blend-mode: exclusion; 
}*/
/* div.logo {
    width: 100%;
    height: 10px;
    object-fit: cover;
} */
/* div.list_components  {
    width: 40%;
}

div.list_components ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    font-weight: bold;
}
@media (max-width:750px) {
  ul {
    display: none;
}
} */

/* Mobile view styles
 @media screen and (max-width: 750px) {
    .navbarlistContainer {
      display: none; /* Hide the menu on small screens
    }
  } */
  
  /* Laptop view styles */
  /* @media screen and (min-width: 751px) {  
    .navbarlistContainer {
      display: block;  */
      /* Show the menu on medium to large screens */
    
/* .navbarlistContainer:hover {
  cursor: pointer;

}

  #mobileNavButton div {
        width: 30px;
         height: 2.5px;
         background: black;
         border-radius: 5px;
  } */

  /* Style for mobile menu icon */
  /* #mobileNavButton {
    display: none;
    cursor: pointer;

  }
  @media screen and (max-width:750px) {
    #mobileNavButton {
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: end;

    }
  } */
  

  /* Add these styles to your CSS file */

/* .menu-closed {
  display: none;
}

.menu-open {
  display: block; */
  /* width: 200px;
  height: 200px;
  border: 1px solid;
 color: black; */

#navbar {
   display: flex;
   background-color: #000;
   flex-direction: row;
   margin-bottom: 0px;
   justify-content: space-between;
   padding: 20px 100px;
 
}
#navbar .container .content-container .content .nav-btn {
     display: none;
}
#navbar .container .content-container .content .nav-btn-close {
     display: none;
}
 
#navbar .container .content-container .content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
 
#navbar .container .content-container .content .links {
      display: flex;
      flex-direction: row;
      margin-top: 35px;
      list-style: none;
      padding: 0;
   }
   #navbar .container .content-container .content .links li a {
        color: #fff;
       text-decoration: none;
       margin: 40px;
    }
   #navbar img{
    width: 230px;
    height: 100px;
    object-fit: cover;
  }

  @media screen and (max-width: 799px) {
   /* #navbar{
    padding: 10px 20px;
    height: 120px;
   }
   #navbar img{
      width: 180px;
      height: 100px;
      object-fit: cover;
    }
    #navbar .container{
        display: none;
    }
    #navbar .container .content-container .content {
      justify-content: space-between;
      align-items: center;
      position: relative;
    }
    #navbar .nav-btn {
      display: block;
      color: #fff;
    }
    #navbar .navbtnclose {
      display: block;
    }
    #navbar .container .content-container .content .links.open {
      width: 270px;
      opacity: 1;
    }
    #navbar .container .content-container .content .links {
      display: flex;
      flex-direction: column;
      position: absolute;
      background-color: white;
      margin-left: -8%;
      top: 25px;
      right: 50%;
      left: -160px;
      width: 20%;
      height: 450px;
      justify-content: start;
      gap: 10px;
      overflow: hidden; 
      transition: width 0.3s ease, opacity 0.3s ease;
      opacity: 0; 
    }
    #navbar .container .content-container .content .links li {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: flex-start;
    }
    #navbar .container .content-container .content .links li a {
          text-align: right;
          font-size: 18px;
          
        }
  } */

  #navbar {
    display: flex;
    background-color: #000;
    flex-direction: row;
    margin-bottom: 0px;
    justify-content: space-between;
    padding: 20px 100px;
  
 }
 #navbar .container .content-container .content .nav-btn {
      display: block;
 }
 #navbar .container .content-container .content .nav-btn-close {
      display: block;
 }
  
 #navbar .container .content-container .content {
  display: none;
     /* display: flex;
     flex-direction: row;
     align-items: flex-end; */
 }
  
 #navbar .container .content-container .content .links {
       display: flex;
       flex-direction: row;
       margin-top: 35px;
       list-style: none;
       padding: 0;
    }
    #navbar .container .content-container .content .links li a {
         color: #fff;
        text-decoration: none;
        margin: 40px;
     }
    #navbar img{
     width: 230px;
     height: 100px;
     object-fit: cover;
   }
  }

 
 
 
 
 
