/* Testimonial Slider Container */
.testimonial-slider {
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
   
  }
  
  /* Testimonial Card */
  .testimonial-card {
    width: 100%;
    max-width: 400px; /* Adjust the maximum width of each card */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  /* Testimonial Text */
  .feedback {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 10px;
  }
  
  .name {
    font-weight: bold;
    color: #333;
  }
  
  /* Slider Controls */
  .slider-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .slider-arrow {
    background: #333;
    color: #fff;
    font-size: 24px;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.3s ease-in-out;
  }
  
  .slider-arrow:hover {
    background: #555;
  }
  
  .left {
    transform: rotate(180deg); /* Flip the left arrow */
  }
  
  .right {
    transform: scaleX(-1); /* Flip the right arrow */
  }
  